<html>
	<head>
	<title>Imagify Reddit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Browse through your favourite image based subreddits quickly.">
	<meta name="author" content="Joel Tersigni">
	<meta name="keywords" content="reddit,subreddit,images,imagify">
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	</head>

	<body>