		<div class="onePicContainer">
			<div class="search">
				<input type="text" placeholder="Type a subreddit..." class="searchBox">
			</div>
			<div class="details">
				<div class="pure-g">
					<div class="pure-u-1-2 pure-u-md-14-24">
						<h3 class="title"></h3>
						<p class="author"></p>
					</div>
					<div class="pure-u-1-2 pure-u-md-10-24" id="controls">
						<div class="button next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
						<div class="button previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</div>
				    </div>
			    </div>
			</div>
			<img class='picture' src="" />
		</div>
		<a class="btt" href="#"><i class="fa fa-3x fa-chevron-circle-up" aria-hidden="true"></i></a>

		