		<div class="onePicContainer">
			<div class="preferences">
				<span id='imgPref'>
				    <input type="checkbox" id="gfy" name="gfycat" />
					<label for="gfy"><span></span>gfycat</label>

					<input type="checkbox" id="gifv" name="gifv" />
					<label for="gifv"><span></span>gifv</label>
				</span>
				<span id='sfwPref'>
					<input type="checkbox" id="sfw" name="sfw" />
					<label for="sfw"><span></span>sfw</label>
				</span>
			 	<span class="warning dataWarning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Increases data usage when enabled</span>
			 	<span class="warning nsfwWarning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Hides adult content when enabled</span>
			</div>
			<div class="search">
				<input type="text" placeholder="Type a subreddit..." class="searchBox">
			</div>
		</div>
		<!--<a class="btt mute" href="#"><i class="fa fa-3x fa-chevron-circle-up" aria-hidden="true"></i></a>-->

		