<div class="mainoverlay">
	<div class="redditinfo">
		<h3 class="title"></h3>
		<p class="subreddit"></p>
	</div>
	<div class="media">
		<div class="picture"></div>
    </div>
    <div class="close">
    	<i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
	<div class="overlaycontrols">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="button previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</div>
			</div>
			<div class="pure-u-1-2">
				<div class="button next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
</div>
