
.mainoverlay{
	background:#222937;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:50;
}

.fullscreen
{
	overflow:auto;
}

.mainoverlay div.media {
	
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.mainoverlay div.media-fullscreen{
	position:static;
	transform:none;
} 

.picture, .picture img, .picture video{
	max-height: calc(100vh - 170px);
    max-width: calc(100vw - 120px);
}

.picture-fullscreen, .picture-fullscreen img, .picture-fullscreen video{
	max-width:100% !important;
	max-height:100% !important;
	text-align:center !important;
}


.redditInfo{
	position:absolute;
	left:0;
	top:20px;
	color:#71747c;
	max-width:90vw;
	padding-left:20px;
}

.close{
	position:absolute;
	right:0;
	top:20px;
	color:#71747c;
	font-size:200%;
	width:60px;
	cursor:pointer;
}

.close:hover{
	color:white;
}

.overlaycontrols{
	position:fixed;
	width:100%;
	bottom:0;
}


h3.title {
	font-size:1.4em;
	color:white;
	margin:0;
	padding-bottom:3px;
}

p.subreddit{
	font-size:1em;
	color:#45cae7;
	margin:0;
	font-weight:bold;
}


.button{
	font-size:90%;
	text-align:center;
	float:left;
	padding:15px;
	font-weight:bold;
	cursor:pointer;
	width:100%;
	display:block;
}

.next{
	background:#45cae7;
	color:white;
}

.next:hover{
	background:#26aecc;
}

.previous{
	background:#f5f5f5;
	color:#555;
}

.previous:hover{
	background:#f1f1f1;
}


@media only screen and (max-width: 520px) {

	.redditInfo{
		top:15px;
		max-width:75vw;
	}
	.close{
		top:15px;
		width:45px;
	}

	h3.title {
		font-size:1.3em;
		color:white;
		margin:0;
		padding-bottom:3px;
	}

	p.subreddit{
		font-size:0.9em;
		color:#45cae7;
		margin:0;
		font-weight:bold;
	}

	.picture, .picture img, .picture video{
		max-height: calc(100vh - 150px);
	    max-width: calc(100vw - 80px);
	}

}